VITE_APP_API_URL=http://localhost:3000/api
VITE_GEOCODE_API_URL=https://geocode-maps.yandex.ru/v1
VITE_GEOSUGGEST_API_URL=https://suggest-maps.yandex.ru/v1/suggest
VITE_GEOSUGGEST_API_KEY=
VITE_MAPS_API_KEY=