@use '/src/app/styles/variables' as *;

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: $gap-md;

  row-gap: $gap-md;
  min-width: 100px;
  height: fit-content;
  padding-left: $gap-sm;
  padding-right: $gap-sm;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}
