@use '/src/app/styles/variables' as *;

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: $space-md;

  row-gap: $space-md;
  min-width: 100px;
  height: fit-content;
  padding-left: $space-xs;
  padding-right: $space-xs;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}
