@use '/src/utilities/flex.module.scss' as *;

.navMenu {
	@extend %flex;
	@extend %vertCenter;
	@extend %column;
	@extend %spaceBetween;

	min-width: 100px;
	min-height: 100%;
	padding: 20px 0;
}

.avatarImage {
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 30px;
}

.buttonsContainer {
	@extend %flex;
	@extend %column;
	padding-top: 20px;
	gap: 20px;
}
