.navMenu {
	min-width: 100px;
	height: 100%;
	padding: 20px 0;
}

.avatarImage {
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 30px;
}

.buttonsContainer {
	padding-top: 20px;
	gap: 20px;
}
