@use '/src/app/styles/variables' as *;

.inputField {
  padding: $space-2xs;
  border: 2px solid var(--color-border);
  width: 100%;
  border-radius: $radius-lg;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:focus-visible {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }
}
