@use '/src/app/styles/variables' as *;

.container {
  flex: 1 1 200px;
  padding-bottom: 0;
  flex-direction: column;
  align-items: normal;
  position: relative;

  @media (max-width: $breakpoint-mobile) {
    order: 0;
  }
}
