@use '/src/utilities/flex.module.scss' as *;

.main {
	.container {
		@extend %flex;
		@extend %gap;
		height: 100%;
	}

	.verticalFlexContainer {
		@extend %fill;
		@extend %flex;
		@extend %gap;
		@extend %column;

		& * {
			min-height: 0;
			min-width: 0;
		}
	}
}
