@use '@/shared/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: $space-xs;

  @media (max-width: $breakpoint-sm) {
    order: 2;
  }

  .list {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-xs;

    @media (max-width: $breakpoint-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
