//color
$color-yellow: #d69e36;
$color-light-yellow: #deab4d;
$color-accent-yellow: #ffc355;
$color-dark-grey: #2b261d;
$color-grey: #403b45;
$color-white: #ffffff;

//font-size
$font-sm: 12px;
$font-lg: 24px;
$font-xlg: 36px;
$font-max: 48px;

$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
