@use './variables' as *;
@use './reset';

body {
	color: white;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	background-color: $yellow;
}

#root {
	height: 100vh;
}

.container {
	height: 100%;
	padding: 0 20px;
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
}

.division {
	background-color: $light-yellow;
	border-radius: 40px;
	padding: 20px 35px;
}

@media (max-width: $breakpoint-tablet) {
	.container {
		padding: 0 10px;
	}
}
