@use './variables' as *;
@use './reset';

:root {
  scrollbar-gutter: stable both-edges;
  --bg-color: #{$color-yellow};
  --accent-color: #{$color-accent-yellow};
  --light-color: #{$color-light-yellow};
}

[data-theme='dark'] {
  --bg-color: #{$color-grey};
  --accent-color: #{$color-white};
  --light-color: #{$color-dark-grey};
}

body {
  background-color: var(--bg-color);
  color: $color-white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  padding: 0 20px;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.division {
  background-color: var(--light-color);
  border-radius: 40px;
  padding: 20px 35px;
}

@media (max-width: $breakpoint-tablet) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .division {
    padding: 15px 15px;
    border-radius: 15px;
  }
}
