@use '/src/styles/variables' as *;
@use '/src/utilities/flex.module.scss' as *;

.header {
	flex: 0.6;
	padding: 15px;

	&__container {
		@extend %flex;
		@extend %spaceBetween;
		padding: 0 55px;
		height: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__locations-button {
		font-size: $lg;
		display: flex;
		align-items: end;
		gap: 5px;
	}

	&__location-icon {
		width: 30px;
		height: 30px;
	}

	&__arrow-icon {
		width: 20px;
		height: 20px;
		margin-bottom: 3px;
	}

	&__weather-condition {
		font-size: $xlg;
		line-height: 1.5em;
		flex: 1;
	}

	&__weather-temp {
		font-size: $max;
	}
}
