@use '/src/utilities/flex.module.scss' as *;
.container {
	@extend %flex;
	@extend %column;
	flex-direction: column;

	.list {
		margin-top: 10px;
		@extend %fill;
		@extend %flex;
		@extend %vertCenter;
		gap: 10px;
	}
}
