@use '/src/app/styles/variables' as *;

.item {
  display: flex;
  align-items: center;

  &Text {
    flex: 1;

    &:hover {
      cursor: pointer;
    }
  }

  &Heading {
    font-weight: 600;
  }

  &Addition {
    display: block;
  }

  .favoriteButton {
    opacity: 0;
    background: none;
    border: none;
    padding: 0;
  }

  &:hover .favoriteButton {
    opacity: 1;
  }
}

.favoriteIcon {
  width: 25px;
  height: 25px;
  color: rgba(255, 255, 255, 0);
  stroke: $color-white;
  stroke-width: 2px;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}
