@use '../../styles/variables' as *;

.headerContainer {
	padding: 10px 55px;
	display: flex;

	.backButton {
		position: relative;
		font-size: $lg;
		display: flex;
		gap: 5px;
		align-items: end;

		.arrowIcon {
			position: absolute;
			left: -20px;
			bottom: 3px;

			width: 20px;
			height: 20px;
			rotate: 180deg;
		}

		.locationIcon {
			width: 30px;
			height: 30px;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.mainContainer {
	display: flex;
}

.textContainer {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.mapContainer {
	flex: 1;
}
