@use '../../styles/variables' as *;

.page {
  min-height: 100vh;
  padding: 20px 0;
}

.main {
  .mainContainer {
    display: flex;
    column-gap: $gap-lg;

    .textContainer {
      flex: 0.5;

      .headerContainer {
        padding: 0 55px;
        margin-bottom: 10px;

        @media (max-width: $breakpoint-mobile) {
          padding: 0 10px;
        }
      }

      .sectionsContainer {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: $gap-lg;
      }
    }

    .mapContainer {
      height: calc(100vh - 40px);
      flex: 1;
      overflow: hidden;
    }
  }
}
