@use '../../styles/variables' as *;

.page {
  min-height: 100vh;
}

.main {
  .mainContainer {
    display: flex;
    column-gap: $gap-lg;

    .textContainer {
      padding: 15px 0;
      flex: 0.5;

      .headerContainer {
        padding: 0 55px 10px 55px;
      }

      .sectionsContainer {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: $gap-lg;
      }
    }

    .mapContainer {
      flex: 1;
      padding: 15px 0;
      height: 100vh;
      overflow: hidden;
    }
  }
}
