@use '../../../../styles/variables' as *;

.navMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	row-gap: $gap-md;
	min-width: 100px;
	min-height: 100%;
	padding-left: 0;
	padding-right: 0;
}
