@use '@/shared/styles/variables' as *;

.layout {
  display: flex;
  flex-direction: row;
  gap: $space-lg;
  padding: $space-md 0;
  min-height: 100vh;

  @media (max-width: $breakpoint-md) {
    display: block;
    padding-bottom: 96px;
  }
}

.content {
  flex: 1;
  min-width: 0;
}
