@use '@/shared/styles/variables' as *;

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: $space-md;

  .inputContainer {
    position: relative;
    z-index: 2;
  }

  .searchResults {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}

.inline {
  width: 100%;

  .inputContainer {
    z-index: auto;
  }

  .searchResults {
    position: static;
  }
}
