@use '/src/app/styles/variables' as *;

.searchContainer {
  position: relative;

  .inputContainer {
    position: relative;
    z-index: 2;

    .inputField {
      padding: 10px;
      border: 2px solid $color-white;
      width: 100%;
      border-radius: 20px;

      &::placeholder {
        color: $color-white;
      }
      &:focus {
        outline: 1px solid $color-white;
      }
    }
  }

  .listContainer {
    padding: 0 35px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    z-index: 1;
    background-color: $color-grey;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transition: max-height 0.15s ease-in-out;

    .list {
      padding-bottom: 20px;
      margin-top: 62px;
      display: flex;
      flex-direction: column;
      row-gap: $gap-md;
    }
  }
}
