@use '/src/app/styles/variables' as *;

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: $gap-md;

  .inputContainer {
    position: relative;
    z-index: 2;
  }

  .searchResults {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}
