.slider {
	height: 60px;
	position: relative;
	overflow: hidden;

	.slides {
		height: 100%;
		display: flex;
		transition: ease-in-out transform 0.15s;
	}

	.prevButton,
	.nextButton {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.prevButton {
		left: 0;
	}

	.nextButton {
		right: 0;
	}
}
